<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Móveis Brasa - Loja de Móveis de Qualidade">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Móveis Brasa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" aria-label="Móveis Brasa">
                Móveis Brasa
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="@Url.Action("Index", "Contato")">Contato</a>
                    </li>
                    <li class="nav-item">
                        <form class="d-flex" action="@Url.Action("Search", "Movel")" method="get">
                            <input class="form-control me-2" type="search" placeholder="Procurar produto" name="searchString" value="@ViewData["searchString"]" aria-label="Procurar produto">
                            <button class="btn btn-outline-light" type="submit">Buscar</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        @await Component.InvokeAsync("CarrinhoCompraResumo")
                    </li>
                    <li class="nav-item">
                        @await Component.InvokeAsync("CategoriaMenu")
                    </li>
                    @await Html.PartialAsync("_LoginPartial")
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" href="@Url.Action("Index", "Admin", new { area = "Admin" })">Admin</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <partial name="_Footer" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
